---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => post.data.title && post.data.date && !post.data.draft)
  .sort((a, b) => b.data.date!.valueOf() - a.data.date!.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

const education = (await getCollection("education"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());

const honors = (await getCollection("honors"))
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="flex items-center gap-6 animate">
      <div class="w-32 h-32 rounded-full overflow-hidden border-2 border-black/10 dark:border-white/10 shadow-sm">
        <img src="/images/photo.jpeg" alt="Tianle Cao" class="w-full h-full object-cover" />
      </div>
      <div>
        <h4 class="font-semibold text-black dark:text-white">
          Hi, I'm Tianle <span class="text-xl">👋🏻</span> 
        </h4>
        <div class="mt-2 flex flex-wrap gap-x-4 gap-y-2 text-base">
          <Link href="/resume.pdf" external>
            Resume (PDF)
          </Link>
          <Link href="/cv.pdf" external>
            CV (PDF)
          </Link>
          {SOCIALS.map(SOCIAL => (
            <Link href={SOCIAL.HREF} external>
              {SOCIAL.NAME}
            </Link>
          ))}
        </div>
      </div>
    </div>
    <div class="space-y-16 mt-12">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I received my Ph.D. degree from UCLA and Cedars-Sinai Medical Center, advised by <Link href="https://researchers.cedars-sinai.edu/Debiao.Li" external>Dr. Debiao Li</Link>. I was also fortunate to work closely with <Link href="https://https://anthonychristodoulou.com" external>Dr. Anthony G. Christodoulou</Link> on medical image reconstruction. 
          </p>
          <p class="animate">
            I am now an algorithm engineer at <Link href="https://www.noahmed.com/" external>Noah Medical</Link>. My work at Noah includes multi-view camera geometry, image analysis, and reconstruction using classical and deep learning methods.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-base opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-base opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Education
          </h5>
        </div>
        <ul class="flex flex-col space-y-4">
          {education.map(entry => (
            <li>
              <div class="text-base opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.school}
              </div>
              <div class="text-base opacity-75">
                {entry.data.degree}
              </div>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Honors & Awards
          </h5>
        </div>
        <ul class="flex flex-col space-y-4">
          {honors.map(entry => (
            <li>
              <div class="text-base opacity-75">
                {entry.data.date.toLocaleDateString("en-US", { month: "short", year: "numeric" })}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.title}
              </div>
              <div class="text-base opacity-75">
                {entry.data.issuer}
              </div>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Research Projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Let's Connect
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say hi,
            reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
